/*color*/
/* 
60% of #cc7e92 - Dominant
30% of #f296ad - Secondary
10% of #f8f9fa - Accent
*/

:root {

    /* var(--dominantColor) !important; */
    --dominantColor: #cc7e92;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #f296ad;

    /* var(--accentColor) !important; */
    --accentColor: #cc7e92;
    /*#f8f9fa;*/

    --boxShadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.35);
    /* var(--boxShadow) !important; */

}