.content {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.content video {
    width: 100%;
    display: block;
}

/*
  .content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  */

.content-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.call-to-action {
    color: #ffffff;
    display: none;
    position: absolute;
    top: 25px;
    left: 13%;
    z-index: 99999999999999999999999999999;

}

.btn-outline-primary {
    color: #0a2140 !important;
    background-color: #ffffff !important;
}

.btn-outline-primary:hover {
    background-color: #0a2140 !important;
    color: #ffffff !important;
}

.fa-circle-xmark {
    color: #ffffff;
    font-size: 30px;
    position: relative;
    top: 0px;
   /* left: -20px;*/
}

.fa-circle-xmark:hover {
    cursor: pointer;
}